version: '3.8'

services:
  iot-reporting-backend:
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
    environment:
      - APP_HOST=54.153.128.183
      - PORT=8080
      - JWT_SIGNING_KEY=sai_dev
      - DB_HOST=ec2-54-153-128-183.ap-southeast-2.compute.amazonaws.com
      - DB_NAME=iot_reporting_dev
      - DB_USER=iot_dev
      - DB_PASS=IotDev#1234