version: '3.3'

services:
  iot-reporting-backend:
    build:
      context: iot-reporting-backend
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
    environment:
      - APP_HOST=54.153.128.183
      - PORT=8080
      - JWT_SIGNING_KEY=sai_dev
      - DB_HOST=ec2-54-153-128-183.ap-southeast-2.compute.amazonaws.com
      - DB_NAME=iot_reporting_dev
      - DB_USER=iot_dev
      - DB_PASS=IotDev#1234
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - backend
      - frontend
  # Frontend Service
  iot-reporting-dashboard:
    build:
      context: iot-reporting-dashboard # Use an image built from the specified dockerfile in the `ada_remote_launcher_ui` directory.
      dockerfile: Dockerfile
      args:
        REACT_APP_API_BASE_URL: http://54.153.128.183:8080/api
    ports:
      - "80:80" # Map the exposed port 80 on the container to port 80 on the host machine
    restart: always
    depends_on:
      - iot-reporting-backend
    networks:
      - frontend

# Networks to be created to facilitate communication between containers
networks:
  backend:
  frontend: