swagger: "2.0"

info:
  version: 1.0.0
  title: IOT Reporting APIs
  description: The IOT Reporting API document is intended strictly for internal use only.

schemes:
  - http
host: 34.126.111.208:8080
basePath: "/api"

securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

tags:
  - name: "auth"
    description: "Token generation"
  - name: "user"
    description: "Access to user data"
  - name: "device"
    description: "Access to device data"
  - name: "scales"
    description: "Access to scales data"

paths:
  /auth/token:
    post:
      tags:
        - "auth"
      summary: To generate an auth token.
      description: This API generated the auth token based on client ID, client Secret, user id and app key shared.
      parameters:
        - in: "body"
          name: "body"
          description: "user object that needs to be shared to generate the token."
          required: true
          schema:
            $ref: "#/definitions/Auth"
      responses:
        200:
          description: The generated jwt token.
          schema:
            type: object
            properties:
              is_error:
                type: boolean
              status_code:
                type: integer
              display_msg:
                type: string
              res_data:
                type: object
                properties:
                  token:
                    type: string
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"

  /device/register:
    post:
      security:
        - Bearer: [ ]
      tags:
        - "device"
      summary: To register the device
      description: This API registers the device
      responses:
        200:
          description: The generated jwt token.
          schema:
            $ref: "#/definitions/PostRegisterDeviceResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /device/list:
    get:
      security:
        - Bearer: [ ]
      tags:
        - "device"
      summary: To get the list of devices
      responses:
        200:
          description: Registered Devices list
          schema:
            $ref: "#/definitions/GetDeviceListResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /scale/:
    post:
      security:
        - Bearer: [ ]
      tags:
        - "scales"
      summary: To add a scale
      description: This API adds the scale
      parameters:
        - in: "body"
          name: "body"
          description: "scale object that needs to be created"
          required: true
          schema:
            $ref: "#/definitions/PostAddScaleRequest"
      responses:
        200:
          description: Scale added successfully
          schema:
            $ref: "#/definitions/PostAddScaleResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
    put:
      security:
        - Bearer: [ ]
      tags:
        - "scales"
      summary: To update a scale
      description: This API updates the scale
      parameters:
        - in: "body"
          name: "body"
          description: "scale object that needs to be updated"
          required: true
          schema:
            $ref: "#/definitions/PutUpdateScaleRequest"
      responses:
        200:
          description: Scale updated successfully
          schema:
            $ref: "#/definitions/GenericResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /user/reset-password:
    put:
      tags:
        - "scales"
      summary: To reset the password
      parameters:
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/PutResetPasswordRequest"
      responses:
        200:
          description: Password updated successfully
          schema:
            $ref: "#/definitions/GenericResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /scale/{device_id}:
    get:
      security:
        - Bearer: [ ]
      tags:
        - "scales"
      summary: To get the list of scales
      parameters:
        - in: "path"
          name: "device_id"
          required: true
          type: string
      responses:
        200:
          description: Scales list
          schema:
            $ref: "#/definitions/GetScalesResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /scale/{scale_id}:
    delete:
      security:
        - Bearer: [ ]
      tags:
        - "scales"
      summary: To delete a scale based on scale_id
      parameters:
        - in: "path"
          name: "scale_id"
          description: "The scale_id to be delete"
          required: true
          type: string
      responses:
        200:
          description: Category removed
          schema:
            $ref: "#/definitions/GenericResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
  /user:
    post:
      tags:
        - "user"
      summary: To register the user
      description: This API registers the user
      parameters:
        - in: "body"
          name: "body"
          description: "user object that needs to be registered"
          required: true
          schema:
            $ref: "#/definitions/PostRegisterUserRequest"
      responses:
        200:
          description: User registration successful
          schema:
            $ref: "#/definitions/GenericResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
    put:
      tags:
        - "user"
      security:
        - Bearer: [ ]
      summary: To update the user
      description: This API updates the user profile
      parameters:
        - in: "body"
          name: "body"
          description: "user object that needs to be updated"
          required: true
          schema:
            $ref: "#/definitions/PutUpdateUserRequest"
      responses:
        200:
          description: User updated successfully
          schema:
            $ref: "#/definitions/GenericResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
    get:
      security:
        - Bearer: [ ]
      tags:
        - "user"
      summary: To get the user info based on token accountId
      responses:
        200:
          description: User info
          schema:
            $ref: "#/definitions/GetUserInfoResponse"
        400:
          description: Something wrong in the body.
          schema:
            $ref: "#/definitions/GenericResponse"
        401:
          description: Invalid credentials
          schema:
            $ref: "#/definitions/GenericResponse"
definitions:
  GenericResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
    xml:
      name: "GenericResponse"
  Auth:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
        example: ajdfhky12o83uwkjhfi
        description: user id of the user.
      password:
        type: string
        example: ajdfhky12o83uwkjhfi
        description:  password of the user.
    xml:
      name: "Auth"

  PostRegisterUserRequest:
    type: object
    required:
      - company_id
      - username
      - first_name
      - last_name
      - address
      - address2
      - email
      - password
      - confirm_password
    properties:
      company_id:
        type: integer
      username:
        type: string
        example: john.doe
      first_name:
        type: string
        example: John
      last_name:
        type: string
        example: Doe
      address:
        type: string
        example: Address line 1
      address2:
        type: string
        example: Address line 2
      email:
        type: string
        example: john@jon.com
      parent_id:
        type: integer
      password:
        type: string
        example: Password@2021
      confirm_password:
        type: string
        example: Password@2021
    xml:
      name: "PostRegisterUserRequest"
  PutUpdateUserRequest:
    type: object
    required:
      - first_name
      - last_name
      - address
      - address2
      - email
    properties:
      first_name:
        type: string
        example: John
      last_name:
        type: string
        example: Doe
      address:
        type: string
        example: Address line 1
      address2:
        type: string
        example: Address line 2
      email:
        type: string
        example: john@jon.com
    xml:
      name: "PutUpdateUserRequest"
  PutResetPasswordRequest:
    type: object
    required:
      - username
      - password
      - confirm_password
    properties:
      username:
        type: string
        example: john.doe
      password:
        type: string
        example: Password@2021
      confirm_password:
        type: string
        example: Password@2021
    xml:
      name: "PutResetPasswordRequest"
  GetUserInfoResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
      res_data:
        type: object
        properties:
          accountId:
            type: integer
            example: 16
          companyId:
            type: integer
            example: 1
          username:
            type: string
            example: "bob"
          address:
            type: string
            example: "somewhere"
          address2:
            type: string
            example: "somehow"
          email:
            type: string
            example: "bob@test.com"
          firstName:
            type: string
            example: "bob"
          lastName:
            type: string
            example: "the builder"
    xml:
      name: "GetUserInfoResponse"
  PostRegisterDeviceResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
      res_data:
        type: object
        properties:
          device_id:
            type: string
    xml:
      name: "PostRegisterDeviceResponse"
  GetDeviceListResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
      res_data:
        type: object
        properties:
          device_id:
            type: integer
          account_id:
            type: integer
          created_at:
            type: string
          updated_at:
            type: string
    xml:
      name: "GetDeviceListResponse"
  PostAddScaleRequest:
    type: object
    properties:
      name:
        type: string
      device_id:
        type: string
      serial_num:
        type: string
    xml:
      name: "PostAddScaleRequest"
  PutUpdateScaleRequest:
    type: object
    properties:
      name:
        type: string
      scale_id:
        type: string
      serial_num:
        type: string
    xml:
      name: "PutUpdateScaleRequest"
  PostAddScaleResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
      res_data:
        type: object
        properties:
          scale_id:
            type: string
    xml:
      name: "PostAddScaleResponse"
  GetListScaleRequest:
    type: object
    properties:
      device_id:
        type: string
    xml:
      name: "GetListScaleRequest"
  GetScalesResponse:
    type: object
    properties:
      is_error:
        type: boolean
      status_code:
        type: integer
      display_msg:
        type: string
      res_data:
        type: array
        items:
          type: object
          properties:
            scale_id:
              type: string
            name:
              type: string
            serial_num:
              type: string
            device_id:
              type: string
            created_at:
              type: string
            updated_at:
              type: string
    xml:
      name: "GetScalesResponse"